<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controladores.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotante</servlet-name>
        <servlet-class>Controladores.ControladorVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministrador</servlet-name>
        <servlet-class>Controladores.ControladorAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVistaPartidos</servlet-name>
        <servlet-class>Controladores.ControladorVistaPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistroVoto</servlet-name>
        <servlet-class>Controladores.ControladorRegistroVoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <servlet-class>Controladores.ControladorBajaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCerrarSesion</servlet-name>
        <servlet-class>Controladores.ControladorCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistro</servlet-name>
        <servlet-class>Controladores.ControladorRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEnlaceRegistro</servlet-name>
        <servlet-class>Controladores.ControladorEnlaceRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificadorVotante</servlet-name>
        <servlet-class>Controladores.ControladorModificadorVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotanteListarResultados</servlet-name>
        <servlet-class>Controladores.ControladorVotanteListarResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministradorListarResultados</servlet-name>
        <servlet-class>Controladores.ControladorAdministradorListarResultados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <servlet-class>Controladores.ControladorEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministradorListaVotantes</servlet-name>
        <servlet-class>Controladores.ControladorAdministradorListaVotantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificadorAdministrador</servlet-name>
        <servlet-class>Controladores.ControladorModificadorAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotante</servlet-name>
        <url-pattern>/ControladorVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministrador</servlet-name>
        <url-pattern>/ControladorAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVistaPartidos</servlet-name>
        <url-pattern>/ControladorVistaPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistroVoto</servlet-name>
        <url-pattern>/ControladorRegistroVoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <url-pattern>/ControladorBajaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCerrarSesion</servlet-name>
        <url-pattern>/ControladorCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistro</servlet-name>
        <url-pattern>/ControladorRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEnlaceRegistro</servlet-name>
        <url-pattern>/ControladorEnlaceRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificadorVotante</servlet-name>
        <url-pattern>/ControladorModificadorVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotanteListarResultados</servlet-name>
        <url-pattern>/ControladorVotanteListarResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministradorListarResultados</servlet-name>
        <url-pattern>/ControladorAdministradorListarResultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <url-pattern>/ControladorEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministradorListaVotantes</servlet-name>
        <url-pattern>/ControladorAdministradorListaVotantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificadorAdministrador</servlet-name>
        <url-pattern>/ControladorModificadorAdministrador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
